.content-wrapper {
    background-color: #fff;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
.content-header,
.modal-header-produtos{
    box-shadow: 0px -3px 20px 0px rgba(0,0,0,0.75);
}
.modal-header-produtos{
    background-color: #3c8dbc;
    color: #fff;
}

img#imagem {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img#imagem {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.botoes-filtro{
    font-weight: bold;
    border-radius: 20px 20px;
}
.botoes-filtro-efeito{
    opacity: 0.9;
    border: solid black 4px;
}

table#table_demands.fl-datatable > tbody > tr:first-child{
    background-color: #40709b;
    color: #fff;
}

table#table_demands.fl-datatable > tbody h3.popover-title{
    color: #333333;
}

#demands-list th,
#demands-list td{
    text-align: center;
}